#home-container {
    display: flex;
    align-items: stretch;
    height: 100vh;

    main {
        flex: 8;
    
        padding: 0 32px;
    
        display: flex;
        align-items: center;
        justify-content: center;
      }
    
      .main-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 320px;
        align-items: stretch;
        text-align: center;
    
         img {
            width: 90px;
            align-self: center;
        }
    
        h2 {
          font-size: 24px;
          margin: 5px 0 5px;
          font-family: 'Poppins', sans-serif;
        }
    
        form {
          input {
            height: 50px;
            border-radius: 8px;
            padding: 0 16px;
            background: #fff;
            border: 1px solid #a8a8b3;
    
            &.dark {
              background: #333;
              color: #fff;
            }
          }
    
          button {
            margin-top: 16px;
          }
    
          button,
          input {
            width: 100%;
          }
        }
    
        p {
          font-size: 16px;
          color: #3f3f41;
          margin-top: 5px;
          margin-bottom: 5px;
    
          a {
            color: #e559f9;
          }
        }
      }
}